
.nav {
  color: #001577;
}
.button-os,button {
  border: none;
  border-radius: 15px;
  box-shadow: 0 0 10px #fec7d7;
  background-color: #fec7d7;
}

button:hover {
  border: none;
  border-radius: 15px;
  box-shadow: 0 0 10px #fec7d7;
  background-color: #2fd6bd;
}



.but {
  width: 10%;
  display: inline-block;
  box-sizing: border-box;
  background: #eded42;
  color: #001577;
  font-size: 19px;
  border-radius: 16px 0 16px 0;
  font-weight: 750;
}
